torch==2.7.0
transformers==4.51.3
scikit-learn==1.8.0
scipy==1.17.1
numpy==2.4.3
h5py==3.11.0
mlflow==3.10.1
dvc
matplotlib==3.10.8
tqdm==4.67.1
pyyaml==6.0.2
python-dotenv==1.2.2
pytest
pytest-cov
cmu-multimodal-sdk==0.0.6